<h1>Account Settings</h1>
<!-- <form (ngSubmit)="createEnv()"> -->
    <form>
    <mat-form-field class="full-width-input" color="primary">
        <!-- <input matInput [formControl]="nameControl" placeholder="Environment Name" value="" name="Name" required> -->
        <input matInput type="email" placeholder="Email" value="">
    </mat-form-field>
    <mat-form-field class="full-width-input" color="primary">
        <!-- <input matInput [formControl]="nameControl" placeholder="Environment Name" value="" name="Name" required> -->
        <input matInput type="password" placeholder="Password" value="" >
    </mat-form-field>
    <mat-form-field class="full-width-input" color="primary">
        <!-- <input matInput [formControl]="nameControl" placeholder="Environment Name" value="" name="Name" required> -->
        <input matInput type="password" placeholder="Confirm Password" value="">
    </mat-form-field>
        <!-- <mat-select [formControl]="departmentControl" name="dept" required></mat-select>
        <mat-option *ngFor="let department of departments" [value]="department">
            {{department}}
        </mat-option> -->
    <mat-form-field class="full-width-input" color="primary">
        <ngx-mat-file-input formControlName="basicfile" placeholder="Photo"></ngx-mat-file-input>
        <mat-icon matSuffix color="accent">image</mat-icon>
      </mat-form-field>
    <div class="button-wrapper">
        <!-- <button mat-stroked-button type="button" color="accent" (click)="closeDialog()">Cancel</button> -->
        <button mat-stroked-button type="button" color="primary">Cancel</button>
        <button mat-raised-button type="submit" color="primary">Update</button>
    </div>
</form>
