<div class="container">
    <div class="header">
      <h1>Environments</h1>
    </div>

  <div class="content">
    <div class="search-nav">
      <!-- Add Student Dialog -->
      <button class="add-student" (click)="addEnvironment(key)">Add Voting Environment</button>
    </div>

    <div class="card-container">
      <div class="card" *ngFor="let env of envData" (click)="external(env.envid_fld)">
        <!-- <img src="https://api-gcevs.tech/voting/request/img/{{ env.envid_fld }}/2x2.jpg"> -->
        <img src="http://localhost/voting-api/request/img/{{ env.envid_fld }}/{{ env.envid_fld }}.jpg">
        <div class="card-content">
          <h2>{{ env.envname_fld }}</h2>
          <h4>{{ getDepartmentName(env.envdept_fld) }}</h4>
        </div>
      </div>
    </div>
  </div>
  <p class="dialog-empty" *ngIf="envData.length === 0">
    Environment list is empty. Click 'Add Voting Environment'
  </p>
</div>