<div class="container">
  <div class="header">
    <h1>Candidates</h1>
    <div class="search-nav">
      <!-- Add Student Dialog -->
      <button (click)="addPosition(id)" matTooltip="Add Position" matTooltipClass="tooltip">
        <mat-icon>how_to_reg</mat-icon>
      </button>
      <button (click)="deleteEnvironment()" [disabled]="positionData.length > 0" matTooltip="Delete Environment" matTooltipClass="tooltip">
        <mat-icon>remove_from_queue</mat-icon>
      </button>
      <mat-slide-toggle [(ngModel)]="isChecked" (click)="updateVisibility()" matTooltip="Public View: {{ isChecked }}" matTooltipClass="tooltip"></mat-slide-toggle>
    </div>
  </div>

  <div class="content">
    <div class="candidates" *ngFor="let pos of positionData; index as i">
      <div class="position">
        <h2>{{ pos.posname_fld }}</h2>
        <div class="button-content">  
          <button (click)="addCandidate(id, pos.posid_fld)" matTooltip="Add Candidate" matTooltipClass="tooltip">
            <mat-icon>person_add</mat-icon>
          </button>
          <button (click)="deletePosition(pos.posid_fld, i)" [disabled]="candidateData.length > 0" matTooltip="Delete Position" matTooltipClass="tooltip">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
      <div class="students" *ngFor="let cand of candidateData; index as i">
        <div class="stud-info" *ngIf="cand.posid_fld == pos.posid_fld">
          <img src="http://localhost/voting-api/request/img/{{ cand.studno_fld }}/{{ cand.studno_fld }}.jpg" width="75px">
          <div class="stud-content">
            <h2>{{ cand.studfname_fld }} {{ cand.studlname_fld }}</h2>
            <h4>{{ cand.partylist_fld }}</h4>
          </div>
          <button (click)="deleteCandidate(cand.candidateid_fld, cand.studno_fld, i)"  matTooltip="Delete Candidate" matTooltipClass="tooltip">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>  
  </div>
  <p class="dialog-empty" *ngIf="positionData.length === 0">
    Voting Environment is empty, Add positions.
  </p>
</div>