<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">
      <h1>Candidates</h1>
      <button mat-raised-button color="primary" class="back" routerLink="/main/environments">Back</button>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <!-- <div class="page__content-data position-absolute text-center">
          Candidates Content Goes Here
        </div> -->
        <div>
        <button mat-stroked-button class="addPosition" (click)="addPosition()">Add Position</button>
        <div class="container" *ngFor="let num of [1, 2]">
        <mat-card class="positionCard">
            <h1>President</h1>
            <div class="positionButtons">
                <button mat-button class="editPosition" (click)="editPosition()">Edit Position</button>
                <button mat-button class="addCandidate" (click)="addCandidate()">Add Candidate</button>
            </div>  
        </mat-card>
         <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div [fxFlex]="(100/gridColumns) + '%'"  fxFlex.xs="100%" *ngFor="let num of [1, 2, 3, 5, 6, 7, 8]">
      <!-- <mat-card class="mat-elevation-z4" (click)="createEnv()"> -->
        <!-- <mat-card class="mat-elevation-z4" (click)="environmentDetails()"> -->
      <mat-card type="button" class="mat-elevation-z4" (click)="candidateDetails()">
        <mat-card-content>
          <img src="../../../../assets/main.jpg" width="100px">
          <h2>Simon Gerard Granil</h2>
            <h4>IND</h4>
        </mat-card-content>
      </mat-card>
      </div>
      </div>
    </div>