<form [formGroup]="positionForm" (ngSubmit)="positionForm.valid" class="form-container">
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Position Name</mat-label>
            <input matInput formControlName="positionname" required placeholder="Ex. President, Vice President">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Position Code</mat-label>
            <input matInput formControlName="positioncode" required placeholder="Code of your Position">
        </mat-form-field>
    </div>
    <div class="form-group">
       <mat-form-field appearance="fill">
            <mat-label>Department</mat-label>
            <mat-select formControlName="department">
                <mat-option *ngFor="let dept of department" [value]="dept.depCode">
                    {{ dept.depName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Voting Type</mat-label>
            <mat-select formControlName="type">
                <mat-option *ngFor="let typ of type" [value]="typ.typeCode">
                    {{ typ.typeName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="form-group">
        <button mat-raised-button type="submit" color="primary" [disabled]="!positionForm.valid || clickedButton" (click)="add(); clickedButton = true">Add Position</button>
    </div>
</form>