.form-container {
    width: 100%;

    .form-group {
        display: flex;
        align-items: center;
        justify-content: center;

        mat-form-field {
            width: 100%;
            margin: 0 5px;

            &:nth-child(4) {
                width: 150px;
            }
        }

        button {
            width: 100%;
            margin: 0 5px;
        }
    }
}