<div class="bg">
    <div class="color"></div>
</div>

<form [formGroup]="loginForm" (ngSubmit)="loginForm.valid">

    <div class="title">
        <!-- <img src="../../assets/gcvote.png" width="100px"> -->
        <span>GORDON COLLEGE</span>
        <span>ENHANCED VOTING SYSTEM</span>
        <span>Committee Member Portal</span>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Committee Member Email</mat-label>
        <input matInput formControlName="admin_email" required="true">
        <mat-error *ngIf="!loginForm.value.admin_email || loginForm.invalid">Enter a valid email</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" type="password" formControlName="admin_password" required="true">
        <button class="hide-button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="!loginForm.value.admin_password">Password is required</mat-error>
    </mat-form-field>
    
    <button class="sign-in" mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid || checked" (click)="login(); checked = true">
        <span *ngIf="checked == false">Sign in</span>
        <span *ngIf="checked == true">Signing in...</span>
        <mat-spinner [diameter]="30" *ngIf="checked == true"></mat-spinner>
    </button>
    <mat-error>{{ message }}</mat-error>
</form>
