.page {
  &__box {
    min-height: 138px;
    background: #5C6BC0;
    margin: 0 -1rem;

    h1 {
      position: absolute;
      top: 110px;
      left: 0;
      opacity: 50%;
      color: #fff;
      padding: 0 1rem;
      font-size: 60px;
      font-weight: bolder;
    }
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 5px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

mat-icon {
  font-size: 18px;
  color: #3F51B5;
  }
  
.searchBox {
  font-size: 16px;
  width: 335px;
  margin-left: auto;
  margin-right: auto;
}

mat-card-content {
  display: block;
  img {
    border-radius: 100px;
    margin-bottom: -60px;
  }
  h1 {
    font-weight: bolder;
    margin-left: 125px;
    color: #3F51B5;
  }
  h2 {
    margin-left: 125px;
    margin-bottom: -6px; 
    font-weight: bold;
  }
  h3 {
    margin-left: 125px;
    margin-bottom: -6px; 
  } 
}

button {
  top: 10px;
  margin-left: auto;
  height: 50px;
}

.candidateInfo {
    margin-top: -25px;
}

mat-progress-bar {
  height: 10px;
  border-radius: 100px !important;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
}

mat-divider {
  margin-top: -30px;
  margin-bottom: 30px;
  margin-left: 175px;
}

.positionCard {
  margin-bottom: 10px;
  background-color: #4CAF50;
}