<mat-drawer-container>

  <mat-drawer #drawer mode="side" opened="true">
    <div class="title">
      <img src="../../assets/gcvote.png">
      <h3>COMMITTEE<br>MEMBER PORTAL</h3>
      <hr color="#FF9999" width="200px">
    </div>
    <ul>
      <li routerLinkActive="list-item-active" routerLink="/main/news">
        <mat-icon>forum</mat-icon>
        <span>News</span>
      </li>
      <!-- <li routerLinkActive="list-item-active" routerLink="/main/results">
        <mat-icon>leaderboard</mat-icon>
        <span>Results</span>
      </li> -->
      <li routerLinkActive="list-item-active" [routerLink]="['/main/environments', adminData.adminid_fld]">
        <mat-icon>where_to_vote</mat-icon>
        <span>Environments</span>
      </li>
    </ul>
    <div class="user-container">
      <div class="user-info">
        <img src="">
        <span> {{ adminData.adminlname_fld }} {{ adminData.adminext_fld }}, {{ adminData.adminfname_fld }} {{ adminData.adminmname_fld }}</span>
      </div>
      <button (click)="logoutAccount()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
      <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
