.form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-group {
        display: block;
        width: 50%;

        mat-form-field {
            width: 100% !important;

            &:nth-child(4) {
                width: 150px;
            }
            
            .loaders {
                position: absolute;
                bottom: 13px;
                right: 10px;

                .valid-icon {
                    color: #008f28;
                }

                .invalid-icon {
                    color: rgb(255, 0, 0);
                }
            }
        }
            
        .valid-candidate {
            font-weight: 600;
            font-size: 12px;
            color: #008f28;
            position: absolute;
            top: 285px;
            margin: 15px;
        }

        .invalid-candidate {
            font-weight: 600;
            font-size: 12px;
            color: #ff0000;
            position: absolute;
            top: 285px;
            margin: 15px;
        }

        

        button {
            width: 100%;
        }
    }
    
}

.img-container {
    text-align: center;
    border: 2px solid #FF9999;
    position: relative;
    top: 0;
    left: 65px;
    width: 180px;
    height: 180px;

        img {
            width: 100%;
            vertical-align: middle;
            position: absolute;
            top: 0;
            right: 0;
        }

        label {
            color: #808080;
            position: relative;
            top: 80px;
        }

        #upload {
            position: relative;
            top: -10px;
            opacity: 0;
            width: 180px;
            height: 160px;
            cursor: pointer;
        }
}


.appear {
    display: block;
}

.hide {
    display: none;
}
