<form [formGroup]="candidateForm" (ngSubmit)="candidateForm.valid" class="form-container">
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Student Number</mat-label>
            <input matInput formControlName="studno" required placeholder="Ex. 202022020">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Partylist</mat-label>
            <input matInput formControlName="party" required placeholder="Code of your Position">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Visible only for</mat-label>
            <mat-select formControlName="department">
                <mat-option *ngFor="let dept of department" [value]="dept.depCode">
                    {{ dept.depName }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="!candidateForm.valid || clickedButton" (click)="add(); clickedButton = true">Add Position</button>
    </div>
    
    <div class="form-group">
        <div class="img-container">
            <img [src]="url">
            <label for="upload">{{ fileName }}</label>
            <input type="file" #fileInput id="upload" (change)="getImage($event)" accept="image/*" />
        </div>
    </div>
</form>