.form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-group {
        display: block;
        width: 50%;

        mat-form-field {
            width: 100%;

            &:nth-child(4) {
                width: 150px;
            }
        }

        button {
            width: 100%;
        }
    }
    
}

.img-container {
    text-align: center;
    border: 2px solid #FF9999;
    position: relative;
    top: 0;
    left: 65px;
    width: 180px;
    height: 180px;

        img {
            width: 100%;
            vertical-align: middle;
            position: absolute;
            top: 0;
            right: 0;
        }

        label {
            color: #808080;
            position: relative;
            top: 80px;
        }

        #upload {
            position: relative;
            top: -10px;
            opacity: 0;
            width: 180px;
            height: 160px;
            cursor: pointer;
        }
}